**/*.map
**/.git
**/.gitattributes
*.vsix
.eslintrc.js
.gitattributes
.github/
.gitignore
.gitmodules
.vscode-test/**
.vscode/**
CONTRIBUTING.md
coverage/**
lints/**
logs/**
node_modules/**
out/test/**
out/tool/**
package-lock.json
src/**
tsconfig.*.json
tsconfig.json
